$shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.2);

.card {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $shadow;
  padding: 2rem;
  margin: 2rem;
  cursor: pointer;

  .card-profile {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .card-name {
      margin: 0;
      font-size: 1.6rem;
    }

    .card-email {
      font-size: 1.4rem;
    }
  }
  .card-image {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
  }

  &:hover {
    opacity: 0.7;
  }
}
