$shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.2);

.logo {
  font-size: 1.2rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  margin-bottom: 2rem;
  box-shadow: $shadow;

  .nav-item-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
  }

  .nav-item {
    padding: 0 1rem;
  }
}
